$fa-font-path: '../fonts';

@import "./src/Pager.scss";
@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import "~nprogress/nprogress";
@import '~dropify/src/sass/dropify';

html {
	font-size: 14px;
}
.jumbotron {
	padding: 6rem 1rem;
	background-color: #e9ecf4;
}
.bg-azure {
	background-color: #0082C9 !important;
}
.text-azure {
	color: #0082C9 !important;
}
.btn-warning {
	background-color: #fab100 !important;
	color: white !important;
}
.ee-card {
	padding: 0;
	margin: 1.25rem;
}
.fa {
    text-align: center;
    width: 1.25em;
}
.dropify-wrapper {
	.dropify-message {
		p {
			font-size: 20px !important;
		}
	}
}
.aiur-scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 3px;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	background: rgba(52, 58, 64, 0.5);
	line-height: 45px;
	&:focus {
		color: white;
	}
	&:hover {
		color: white;
		background: #343a40;
	}
	i {
		font-weight: 800;
	}
}
@media (prefers-color-scheme: dark) {
	.dropify-preview {
		background-color: rgb(42, 43, 45) !important;
	}
	.dropify-wrapper {
		background-color: rgb(32, 33, 35) !important;
		border: 2px solid #666 !important;
		&:hover {
			background-image: linear-gradient(-45deg,#161616 25%,transparent 25%,transparent 50%,#161616 50%,#161616 75%,transparent 75%,transparent) !important;
		}
	}
	.text-muted {
		color: #8c959d !important;
	}
	.content-wrapper {
		color: white !important;
	}
	.jumbotron {
		background-color: rgb(30, 32, 36) !important;
	}
	.breadcrumb {
		background-color: rgb(42, 43, 45) !important;
	}
	pre {
		background-color: #444 !important;
		color: #fff !important;
	}
	code {
		background-color: #444 !important;
		color: #fff !important;
	}
	.form-control {
		background-color: rgb(35, 36, 37) !important;
		color: rgb(240, 234, 224) !important;
		border-color: rgb(71, 79, 87) !important;
	}
	.navbar-dark {
		box-shadow: 0 10px 39px -6px rgba(0, 0, 0, 0.3);
	}
	.custom-select {
		color: white !important;
		background-color: #495057 !important;
	}
}
